body {
  font: sans-serif;
  max-width: 100ch;
  margin: 0 auto;

  background-color: #33363d;
  color: #eeeeee;
}

img {
  max-width: 50%;
  display: block;
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: #00aff4;
}
a:hover {
  text-decoration: underline;
}

.guild {
  display: inline-block;
}

.channel:before {
  content: "#";
}

.channel {
  color: lightblue;
  display: inline-block;
  padding: 0.5em;
}

.content {
  margin: 1em;
}

/* message header (author, avatar, etc) */

.message-header {
  display: flex;
  align-items: center;
}

.avatar {
  border-radius: 9999px;
  max-width: 2em;
  margin: 0.5em;
}

time {
  color: #9ea2a6;
  font-size: small;
  margin: 0.5em;
}
